## MANIPULACION Y LECTURA DE DATOS EN PANDAS

Es el proceso de importar datos externos a un programa de python usando pandas, los datos puden estar en muchos formatos

In [4]:
import pandas as pd
df = pd.read_csv("./data_sets/linkedin-jobs-usa-modificado.csv")
#tambien puede ser 
#df = pd.read_csb('archivo.sql')
#df = pd.read_csb('archivolson')
#df = pd.read_csb('archivo.XLsx')

Exploracion: Comandos o metodos, `head()`, `info()`, `describe`, `dtype`, `shape`

In [6]:
print ('Las primeras filas de este csv son:')
print(df.head(10))

Las primeras filas de este csv son:
                            title                   company  \
0  Data Analyst - Recent Graduate                    PayPal
1  Data Analyst - Recent Graduate                    PayPal
2                    Data Analyst                    PayPal
3                    Data Analyst                    PayPal
4        Entry-Level Data Analyst  The Federal Savings Bank
5                    Data Analyst                    PayPal
6                    Data Analyst                    PayPal
7                    Data Analyst                    PayPal
8                    Data Analyst           London Approach
9                    Data Analyst                    PayPal

                                         description onsite_remote  \
0  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
1  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
2  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
3  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
4  The Federal Savings Bank, a national bank and ...        onsite
5  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
6  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
7  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
8  The ideal candidate for the Data Analyst/Finan...        onsite
9  At PayPal (NASDAQ: PYPL), we believe that ever...        onsite

   salary_float                    location  \
0       86658.0  Buffalo-Niagara Falls Area
1       74052.0                San Jose, CA
2       81425.0        Texas, United States
3       74828.0     Illinois, United States
4       83737.0                 Chicago, IL
5       82802.0       Greater Scranton Area
6      104876.5    Tennessee, United States
7       69238.0      Indiana, United States
8      110000.0                Franklin, TN
9       96382.0    Wisconsin, United States

                                            criteria posted_date  \
0  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
1  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
2  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
3  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
4  [{'Seniority level': 'Entry level'}, {'Employm...  2022-11-17
5  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
6  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
7  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
8  [{'Seniority level': 'Associate'}, {'Employmen...  2022-11-21
9  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17

                                                link
0  https://www.linkedin.com/jobs/view/data-analys...
1  https://www.linkedin.com/jobs/view/data-analys...
2  https://www.linkedin.com/jobs/view/data-analys...
3  https://www.linkedin.com/jobs/view/data-analys...
4  https://www.linkedin.com/jobs/view/entry-level...
5  https://www.linkedin.com/jobs/view/data-analys...
6  https://www.linkedin.com/jobs/view/data-analys...
7  https://www.linkedin.com/jobs/view/data-analys...
8  https://www.linkedin.com/jobs/view/data-analys...
9  https://www.linkedin.com/jobs/view/data-analys...

In [5]:
print (df)

                               title                   company  \
0     Data Analyst - Recent Graduate                    PayPal
1     Data Analyst - Recent Graduate                    PayPal
2                       Data Analyst                    PayPal
3                       Data Analyst                    PayPal
4           Entry-Level Data Analyst  The Federal Savings Bank
...                              ...                       ...
2840             Junior Data Analyst        Iris Software Inc.
2841              Data Analyst (SQL)             Marwood Group
2842                    Data Analyst        SmartSense by Digi
2843                    Data Analyst            Synergy Search
2844                    Data Analyst            Insight Global

                                            description onsite_remote  \
0     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
1     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
2     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
3     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
4     The Federal Savings Bank, a national bank and ...        onsite
...                                                 ...           ...
2840  Iris's client, one of the world's largest fina...        hybrid
2841  The Marwood Group (Marwood) is a leading healt...        hybrid
2842  Join a high-performing, tight-knit team at a f...        hybrid
2843  Nashville (Berry Hill) based company looking t...        hybrid
2844  Overview - Minimum 5 years in a quantitative d...        hybrid

      salary_float                         location  \
0          86658.0       Buffalo-Niagara Falls Area
1          74052.0                     San Jose, CA
2          81425.0             Texas, United States
3          74828.0          Illinois, United States
4          83737.0                      Chicago, IL
...            ...                              ...
2840       93219.5             Texas, United States
2841       85000.0  New York City Metropolitan Area
2842       76407.5                    Mishawaka, IN
2843       90000.0      Nashville Metropolitan Area
2844      140000.0                      Burbank, CA

                                               criteria posted_date  \
0     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
1     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
2     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
3     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
4     [{'Seniority level': 'Entry level'}, {'Employm...  2022-11-17
...                                                 ...         ...
2840  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-10-21
2841  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-10-26
2842  [{'Seniority level': 'Associate'}, {'Employmen...  2022-11-17
2843  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-14
2844  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-11-14

                                                   link
0     https://www.linkedin.com/jobs/view/data-analys...
1     https://www.linkedin.com/jobs/view/data-analys...
2     https://www.linkedin.com/jobs/view/data-analys...
3     https://www.linkedin.com/jobs/view/data-analys...
4     https://www.linkedin.com/jobs/view/entry-level...
...                                                 ...
2840  https://www.linkedin.com/jobs/view/junior-data...
2841  https://www.linkedin.com/jobs/view/data-analys...
2842  https://www.linkedin.com/jobs/view/data-analys...
2843  https://www.linkedin.com/jobs/view/data-analys...
2844  https://www.linkedin.com/jobs/view/data-analys...

[2845 rows x 9 columns]

In [7]:
df.head()

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...

In [8]:
df.head(10)

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...
5,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,82802.0,Greater Scranton Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
6,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,104876.5,"Tennessee, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
7,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,69238.0,"Indiana, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
8,Data Analyst,London Approach,The ideal candidate for the Data Analyst/Finan...,onsite,110000.0,"Franklin, TN","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-21,https://www.linkedin.com/jobs/view/data-analys...
9,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,96382.0,"Wisconsin, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845 entries, 0 to 2844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          2845 non-null   object
 1   company        2845 non-null   object
 2   description    2845 non-null   object
 3   onsite_remote  2845 non-null   object
 4   salary_float   2845 non-null   float64
 5   location       2845 non-null   object
 6   criteria       2845 non-null   object
 7   posted_date    2845 non-null   object
 8   link           2845 non-null   object
dtypes: float64(1), object(8)
memory usage: 200.2+ KB

In [10]:
df.describe()

        salary_float
count    2845.000000
mean    75528.560633
std     34985.578239
min        23.000000
25%     71451.500000
50%     84108.500000
75%     96004.000000
max    140000.000000

In [11]:
df['salary_float'].median()

np.float64(84108.5)

In [14]:
df.dtypes
# permite visualizar los tipos de datos de las columnas

title             object
company           object
description       object
onsite_remote     object
salary_float     float64
location          object
criteria          object
posted_date       object
link              object
dtype: object

In [15]:
df.shape

(2845, 9)

al asignarle un valor nos mostrara diferentes resulados `[0]` y el `[1]`

In [16]:
df.tail()

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
2840,Junior Data Analyst,Iris Software Inc.,"Iris's client, one of the world's largest fina...",hybrid,93219.5,"Texas, United States","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-21,https://www.linkedin.com/jobs/view/junior-data...
2841,Data Analyst (SQL),Marwood Group,The Marwood Group (Marwood) is a leading healt...,hybrid,85000.0,New York City Metropolitan Area,"[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-26,https://www.linkedin.com/jobs/view/data-analys...
2842,Data Analyst,SmartSense by Digi,"Join a high-performing, tight-knit team at a f...",hybrid,76407.5,"Mishawaka, IN","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
2843,Data Analyst,Synergy Search,Nashville (Berry Hill) based company looking t...,hybrid,90000.0,Nashville Metropolitan Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-14,https://www.linkedin.com/jobs/view/data-analys...
2844,Data Analyst,Insight Global,Overview - Minimum 5 years in a quantitative d...,hybrid,140000.0,"Burbank, CA","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-14,https://www.linkedin.com/jobs/view/data-analys...

In [19]:
df.columns

Index(['title', 'company', 'description', 'onsite_remote', 'salary_float',
       'location', 'criteria', 'posted_date', 'link'],
      dtype='object')

In [20]:
df.index

RangeIndex(start=0, stop=2845, step=1)