# EJEMPLO PRACTICO PARA PANDAS CON DATAFRAMES

## 1. Inspeccion inicial

In [69]:
import pandas as pd

In [90]:
# crear un data frame partir de un diccionario

data = {
    'nombre': ['Ana', 'luis', 'carlos', 'lucia', 'martha', 'jorge', 'sofia'],
    'edad' :    [23,35,45,25,30,28,32],
    'ciudad': ['cdmx', 'guadalajara', 'monterrey', 'cdmx' , 'puebla', 'cdmx', 'guadalajara'],
    'salario' : [12000, 18000, 12500, 13000, 14000, 13000, 15500],
    'departamento' : ['ventas', 'marketing', 'ti', 'ventas', 'ti', 'marketing', 'ventas']
}

In [73]:
df = pd.DataFrame(data)
df

   nombre  edad       cuidad  salario departamento
0     Ana    23         cdmx    12000       ventas
1    luis    35  guadalajara    18000    marketing
2  carlos    45    monterrey    12500           ti
3   lucia    25         cdmx    13000       ventas
4  martha    30       puebla    14000           ti
5   jorge    28         cdmx    13000    marketing
6   sofia    32  guadalajara    15500       ventas

## 2. Estrucctura y resumen del data frame

In [74]:
df.describe(
)

            edad       salario
count   7.000000      7.000000
mean   31.142857  14000.000000
std     7.335498   2101.586702
min    23.000000  12000.000000
25%    26.500000  12750.000000
50%    30.000000  13000.000000
75%    33.500000  14750.000000
max    45.000000  18000.000000

In [75]:
# muestra el tama√±o del dataframe
df.shape

(7, 5)

In [77]:
df.dtypes

nombre          object
edad             int64
cuidad          object
salario          int64
departamento    object
dtype: object

In [76]:
# el numero de filas
df.shape[0]

7

In [78]:
df.columns

Index(['nombre', 'edad', 'cuidad', 'salario', 'departamento'], dtype='object')

In [79]:
df.index

RangeIndex(start=0, stop=7, step=1)

# 3. seleccion de columnas y filas

In [80]:
# selecciona una sola columna del dataframe como una serie 
df['edad']

0    23
1    35
2    45
3    25
4    30
5    28
6    32
Name: edad, dtype: int64

In [81]:
type(df['edad'])

pandas.core.series.Series

In [82]:
df[['edad']]

   edad
0    23
1    35
2    45
3    25
4    30
5    28
6    32

In [91]:
df['nombre','salario']

KeyError: ('nombre', 'salario')

## 4. filtrado de filas

In [92]:
# filtrar todas las filas que la ciudad sea cdmx
df[['ciudad'] == 'cdmx']

KeyError: False

In [93]:
f[df[['ciudad'] == 'cdmx']['nombre', 'ciudad', 'salario']]

NameError: name 'f' is not defined

In [94]:
df_cdmx[['nombre', 'ciudad', 'salario']]

NameError: name 'df_cdmx' is not defined

In [95]:
# mostrar todas las filas de la cdmx y el departamento de ti
df(df['cuidad',] == ('cdmx')) & (df['departamento'] == 'ti')

KeyError: ('cuidad',)

# mostrar todas las filas de la ciudad de mexico o del
# departamento de ti

## ordenar filas

In [96]:
df.sort_values(by = 'salario' , ascending= True)

   nombre  edad       cuidad  salario departamento
0     Ana    23         cdmx    12000       ventas
2  carlos    45    monterrey    12500           ti
3   lucia    25         cdmx    13000       ventas
5   jorge    28         cdmx    13000    marketing
4  martha    30       puebla    14000           ti
6   sofia    32  guadalajara    15500       ventas
1    luis    35  guadalajara    18000    marketing

# Ordenar por el salario y la ciudad

In [97]:
df.sort_values(by=['ciudad', 'salario'])

KeyError: 'ciudad'