# Agregating DataFrames 

En este notebook, se calcuran estadisticas de resumen en columnas del DataFrame y dominaras las estadisticas agruadas y tablas dinamicas (pivot table)

## Estadisticas 

**Media y mediana**

Las estadisticas resumidas sin exactamente lo que parecen: resumen muchos numeros en una sola estadistica. Por ejemplo, la media, mediana, el minimo, y la desviacion tipica (Desviacion estandar) son estadisticas de resumen. Calcular estadisticas de resumen te perimite hacerte una mejor idea de tus datos, aunque sean muchos 

**instrucciones**

- Explorar el nuevo DataFrame imprimiendo las primeras filas del DataFrame walmar_sales

- Imprimir informacion sobre las columnas
- Imprimir la media de la columna weekly_sales
- imprimir la mediana de la columna weekly_sales

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('./data_sets/walmart_sales.csv')

In [3]:
sales.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
sales.shape

(6435, 8)

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [6]:
sales.describe

<bound method NDFrame.describe of       Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
1         1  12-02-2010    1641957.44             1        38.51       2.548
2         1  19-02-2010    1611968.17             0        39.93       2.514
3         1  26-02-2010    1409727.59             0        46.63       2.561
4         1  05-03-2010    1554806.68             0        46.50       2.625
...     ...         ...           ...           ...          ...         ...
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

In [7]:
# media de la colmna weekly_sales
round(sales['Weekly_Sales'].mean(), 2)

np.float64(1046964.88)

In [8]:
# medianade la columna Weekly_Sales

sales['Weekly_Sales'].median()

np.float64(960746.04)

# Resumir fechas

Las estadisticas sumarias tambien puden calcularse sobre las columnas de fecha que tengan valores con el tipo de datos datetime64. Algunas estadisticas de resumen como la media no tiene mucho sentido en las fechas, pero otras son extermadamente utiles como por ejemplo: el minimo y el maximo que te permiten ver intervalo de tiempo de tiempo abarcan tus datos 

**instrucciones**

- imprimir el maximo de la columna date
- imprimir el minimo de la columna date

In [9]:
sales["Date2"] = sales["Date"].astype("datetime64[ns]")

In [10]:
sales['Date'].min()

'01-04-2011'

In [11]:
sales['Date'].max()

'31-12-2010'

In [12]:
sales['Date2'].min()

Timestamp('2010-01-10 00:00:00')

In [13]:
sales['Date2'].max()

Timestamp('2012-12-10 00:00:00')

# Funcion agg 

Aunque  pandas tenga muchas funciones a veces puedes necesitar una funcion diferencial para resumir los datos .
Permite aplicar tus propias funciones personalizadas a un dataframe asi como, aplicar funciones a mas de una columna de un dataframe a la vez, haciendo que tus agregaciones sean muy eficientes. 

`df['colum'].agg(function)`


En la funcion personalizada para este ejercicio "IQR" es la 

**Instrucciones**

1. Utiliza la funcion personalizada IQR definida por ti junto con el metodo agg() para imprimir la IQR de la columna temperature_c de sales

2. Acutaliza la seleccion de columnaas para utilizar la funcion personalizada iqr con agg() para imprimir los iqr de la columnas temperature , fuel_price, unemployment, en orden. 

3. Actualiza las llamadas a la funcion agg para obtener el rango intercuartilico el IQR y la mediana en ese orden

In [14]:
import numpy as np

def iqr (columna):
    return columna.quantile(0.75) - columna.quantile(0.25)

In [15]:
# Acuatalizar la impresion del IQR temperature, fuel_price, unemployment
print(sales[['Temperature', 'Fuel_Price', 'Unemployment']].aggr(iqr))

AttributeError: 'DataFrame' object has no attribute 'aggr'

In [16]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [17]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [18]:
def ConvertirACentigrados (faren):
    return faren - 32 / 1.8

In [19]:
temp_min = sales['Temperature'].min()
temp_max = sales['Temperature'].max()

In [20]:
print(f'La tempertura {temp_min} en Centigrados es {convertirACentigrados(temp_min)}')
print(f'La tempertura {temp_max} en Centigrados es {convertirACentigrados(temp_max)}')

NameError: name 'convertirACentigrados' is not defined

In [21]:
sales ['Temperatura_Celcious']= sales[['Temperature']].agg(convertirACentigrados)

NameError: name 'convertirACentigrados' is not defined

In [22]:
sales_sort(['Temperature', 'Temperature_Celsius'], ascending=[True, True])

NameError: name 'sales_sort' is not defined

In [23]:
sales['Temperature']

0       42.31
1       38.51
2       39.93
3       46.63
4       46.50
        ...
6430    64.88
6431    64.89
6432    54.47
6433    56.47
6434    58.85
Name: Temperature, Length: 6435, dtype: float64

In [24]:
# Imprimir IQR de la columna temperature 

print(f'El IQR es Temperatura {sales['Temperature'].agg(iqr)}')

El IQR es Temperatura 27.479999999999997

In [25]:
import numpy as np

# funcion personalizada que calcula el IQR

In [26]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# imprimir el rango y el iqr de la columna temperatura 
print(sales['Temperature'].agg(iqr))
print(sales['Temperature'].agg(['mean', 'median', 'max', 'main']))

27.479999999999997

AttributeError: 'main' is not a valid function for 'Series' object

## Estadísticas acumuladas

Las estadísticas acumulativas también pueden ser útiles para hacer un seguimiento de las estadísticas resumidas a lo largo del tiempo. En este ejercicio, calcularás la suma acumulada y el máximo acumulado de las ventas semanales de un departamento, lo que te permitirá identificar cuáles han sido las ventas totales hasta el momento, así como cuáles han sido las ventas semanales más elevadas hasta el momento.

**Instrucciones**

- Ordena las filas de sales_1_1 por la columna date en orden ascendente.
- Obtén la suma acumulada de weekly_sales y añádelo como una nueva columna de sales_1_1 llamada cum_weekly_sales.
- Obtén el máximo acumulado de weekly_sales, y añádelo como una columna llamada cum_max_sales.
- Imprime las columnas date, weekly_sales, cum_weekly_sales, y cum_max_sales.

In [29]:
sales_1_1 = sales[sales['Store'] == 1]

sales_1_1.shape

(143, 9)

In [30]:
sales_1_1 = sales [sales['Store'] == 1]

#ordenar sales_1_1 por  fecha 
sales_1_1 = sales_1_1.sort_values('Date')

# optener la suma acomulativa del campo Weekly_Sales y agregar una columna  llamada cum_Weekly_Sales

sales_1_1['cum_weekly_sales'] = sales_1_1['Weekly_Sales'].cumsum()

In [32]:
sales_1_1[['weekly_Sales', 'cum_weekely_sales']]

KeyError: "None of [Index(['weekly_Sales', 'cum_weekely_sales'], dtype='object')] are in the [columns]"

In [33]:
# Obetener el maximo acomolutivo de weekly_sales y
# agregar cum_max_sales

sales_1_1['cum_max_sales'] = sales_1_1 ['weekly_Sales'].cummax()

KeyError: 'weekly_Sales'

In [34]:
# mostrar las columnas calculadas 
print(sales_1_1[['Date', 'Weekly_sales', 'cum_weekly_sales', 'cum_max_weekly_sales']])

KeyError: "['Weekly_sales', 'cum_max_weekly_sales'] not in index"

## Recuento

### Eliminar duplicados

Eliminar duplicados es una habilidad esencial para obtener recuentos precisos, porque a menudo no quieres contar lo mismo varias veces. En este ejercicio, crearás algunos DataFrames nuevos utilizando valores únicos de sales.

**Instrucciones**

- Elimina las filas de sales con pares duplicados de store y type y guárdalas como store_types e imprime la cabecera.
- Elimina las filas de sales con pares duplicados de store y department y guárdalas como store_depts e imprime la cabecera.
- Subconjunta las filas que sean semanas de vacaciones utilizando la columna is_holiday, y elimina las dates duplicadas, guardándolas como holiday_dates.
- Selecciona la columna date de holiday_dates, e imprímela.

In [37]:
import pandas as pd

sales_sub = pd.read_csv('./data_sets/sales_subset.csv', index_col=0)

In [38]:
sales_sub.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808